# Basic Python Syntax

BACK SLASH

In [10]:
print("Hello \
python")

Hello python

In [2]:
print("Hello World")

Hello World

In [4]:
print("python world")

python world

TIPLE QUOTES

In [6]:
print("""  Hello Every one"""
     )

  Hello Every one

In [8]:
print( """    / / / / / / / / /
/ / / / / / / / /
__,____,       
/____,_/ \ .;';';.
,l__[]__,l_! ,,)(,,
- - - - - -  """
     )

    / / / / / / / / /
/ / / / / / / / /
__,____,
/____,_/ \ .;';';.
,l__[]__,l_! ,,)(,,
- - - - - -

In [11]:
print('Hello World')

Hello World

In [12]:
print("python's world")

python's world

STRING INSIDE THE QUOTE

In [13]:
print("hello\tpython")

hello	python

In [14]:
print('python\'s world')

python's world

In [16]:
print("hello\apython")

hellopython

FORMATTED OUTPUT

In [32]:
name="Archana"
marks="90.87"
age="20"
print("The name of person is ", name, "mark is ", marks, "age is", age)

The name of person is  Archana mark is  90.87 age is 20

In [52]:
print("The name of person is %s  marks is %f  age is %d"%(name,marks,age) )

TypeError: must be real number, not str

In [51]:
print(f"the name of perosn is {name} the marks{marks} is age is {age}")

the name of perosn is Archana the marks90.87 is age is 20

In [ ]:
Varibale

In [55]:
if1= 10

In [56]:
_10=6

Python Assignment Statement

In [58]:
x = y = 10

In [59]:
x

10

In [60]:
y

10

In [61]:
x = 20

In [62]:
id(x)

140735067104240

In [63]:
y = 20

In [64]:
id(y)

140735067104240

In [68]:
del x

NameError: name 'x' is not defined

In [69]:
id(x)

NameError: name 'x' is not defined

In [70]:
id(y)

140735067104240

In [71]:
del y

In [72]:
id(y)

NameError: name 'y' is not defined

ASSIGNMENT OPERATOR

In [73]:
5**5

3125

In [74]:
9**9

387420489

In [75]:
11**14

379749833583241

In [76]:
10+20

30

In [77]:
10/2

5.0

In [78]:
10-20

-10

In [79]:
10/3

3.3333333333333335

In [80]:
10%3

1

In [81]:
10//3

3

In [82]:
11*14

154

Comparison Operator

In [83]:
a = 10
b= 20
a == b

False

In [84]:
c= 10
a == c

True

In [85]:
c < a

False

In [86]:
 c <= a

True

In [87]:
a>=b

False

In [88]:
a!=b

True

BITWISE OPERATOR

In [ ]:
a=240

In [90]:
b=1

In [92]:
a|b

11

In [93]:
a&b

0

Logical Operator

In [95]:
a=1

In [96]:
b = 20

In [97]:
a>20

False

In [98]:
a>20 or 10 > 9

True

In [99]:
10 > 9 and 20 > M

NameError: name 'M' is not defined

In [100]:
10<9 and 20>M

False

In [101]:
not 10 < 9

True

MEMBERSHIP OPERATOR

In [102]:
strl = "pythonprogramming"
"a" in strl

True

In [103]:
strl = "pythonprogramming"
"x" in strl

False

In [104]:
strl = "pythonprogramming"
"x" not in strl

True

In [ ]:
IDENTITY OPERATOR

In [105]:
a = 10
b = 10
a == b

True

In [106]:
a is b

True

In [107]:
id(a)

140735067103920

In [108]:
id(b)

140735067103920

In [109]:
x=1.5
y=1.5
x == y

True

In [110]:
x is y

False

In [111]:
id(x)

2154832919856

In [112]:
id(y)

2154832919792

In [113]:
10+10/29*4

11.379310344827587

In [114]:
10/29

0.3448275862068966

In [115]:
2**-1

0.5